*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #d9d9d9;
    font-family: Arial, Helvetica, sans-serif;
  }
  

.receipt, .product{
    padding: 10px;
    margin: 5px;
    float: left;
    background-color: #ffffff;
    
}

.section {
    display: flex;
  }
  
.receipt{
    width: 30%;
    display: block;
    padding: 15px;
}
.receipt p{
    font-weight: bold;
    margin-bottom: 10px;
}
.receipt hr{
  border: 1px solid #FFC700;
  width: 100%;
}


.quantity{
    display: flex;
    text-align: center;
    float: right;
    margin: 10px 0 10px;
}
.quantity p{
  font-weight: 700;
  font-size: 16px;
}
.quantity input{
  padding: 3px;
  font-size: 16px;
  width: 100px;
  background-color: #d9d9d9;
  border: none;
  font-weight: 500;
  text-align: center;
}

.blank{
  height: 250px;
  margin-top: 10px;
  background-color: #d9d9d9;
  padding: 10px;
}
.blank hr{
  border: 1px dashed #000000;
}

.product {
  width: 70%;
  border: 2px solid #FFC700;
}

.product .toprow{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.product .toprow p{
  font-size: 20px;
}
.product .toprow .search{
  float: right;
  background-color: transparent;
  color: black;
  border: none;
  font-size: 20px;
}
.product .toprow .search:hover{
  color: #FFC700;
  cursor: pointer;
}

.product hr{
  border-top: 2px solid #FFC700;
  
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
  margin: 50px;
}
.row::after{
  content: "";
  clear: both;
  display: table;
}
.column .product-img{
  width: 140px;
  height: 135px;
  border-radius: 20px;
}
.column button{
  width: 326px;
  height: 102px;
  display: flex;
  border: #000;
  cursor: pointer;
  border-radius: 20px;
}

.column button p{
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  
}
